name: Deploy (development)
run-name: "Deploy to ${{ inputs.environment }} with (core: ${{ inputs.core-image-tag }}, country config: ${{ inputs.countryconfig-image-tag }}, reset: ${{ inputs.reset }})"
on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Environment to deploy to
        required: true
        default: 'staging'
        options:
          - staging
          - qa
          - development
      core-image-tag:
        description: Core DockerHub image tag
        required: true
        default: 'v1.8.1'
      countryconfig-image-tag:
        description: Your Country Config DockerHub image tag
        default: 'latest'
        required: false
      reset:
        type: boolean
        description: Reset the environment
        default: false
jobs:
  deploy:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-24.04
    outputs:
      outcome: ${{ steps.deploy.outcome }}
    timeout-minutes: 60
    steps:
      - name: Clone core
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          repository: 'opencrvs/opencrvs-core'
          path: './opencrvs-core'
      - name: Clone country config resource package
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.ref_name }}
          path: './${{ github.event.repository.name }}'

      - name: Checkout country branch ${{ inputs.countryconfig-image-tag }}
        if: ${{ inputs.countryconfig-image-tag != 'latest' && inputs.countryconfig-image-tag != '' }}
        working-directory: ${{ github.event.repository.name }}
        run: git checkout ${{ inputs.countryconfig-image-tag }}

      - name: Checkout core branch ${{ inputs.core-image-tag }}
        working-directory: opencrvs-core
        run: git checkout ${{ inputs.core-image-tag }}

      - name: Resolve image tags
        working-directory: ${{ github.event.repository.name }}
        run: |
          if [ '${{ inputs.countryconfig-image-tag }}' == 'latest' ] || [ '${{ inputs.countryconfig-image-tag }}' == '' ]
          then
            image_tag=`git rev-parse --short=7 HEAD`
            message="⚠️ You haven't provided country config image tag, using latest git hash as image tag."
            message="$message Please make sure image with tag was built and pushed to your registry"
          else
            image_tag=${{ inputs.countryconfig-image-tag }}
          fi

          message="Core image tag: ${{ inputs.core-image-tag }} \n\nCountry config image tag: $image_tag \n\n $message"
          echo -e $message | tee -a $GITHUB_STEP_SUMMARY
          echo "image_tag=$image_tag" >> $GITHUB_ENV

            
      - name: Debug known_hosts file
        working-directory: ${{ github.event.repository.name }}
        run: |
          echo "----- Known Hosts File -----"
          cat ./infrastructure/known-hosts    

      - name: Read known hosts
        working-directory: ${{ github.event.repository.name }}
        run: |
          echo "KNOWN_HOSTS<<EOF" >> $GITHUB_ENV
          sed -i -e '$a\' ./infrastructure/known-hosts
          cat ./infrastructure/known-hosts >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV


     
