name: Reindex search
run-name: Reindex search in ${{ inputs.environment }} core=${{ inputs.core-image-tag }}
on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      core-image-tag:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Environment where to reindex search
        required: true
        default: 'development'
        options:
          - development
          - qa
          - staging
          - production
      core-image-tag:
        description: Core DockerHub image tag
        required: true
jobs:
  reindex:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-24.04
    timeout-minutes: 60

    steps:
      - name: Clone country config resource package
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.ref_name }}
          path: './${{ github.event.repository.name }}'

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
      
          printf "%s\n" "${{ secrets.SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
      
          HOST_IP="${{ vars.SSH_HOST || secrets.SSH_HOST }}"
          HOST_DOMAIN="${{ vars.DOMAIN }}"
          PORT="${{ vars.SSH_PORT || secrets.SSH_PORT }}"
      
          # Remove old entries
          ssh-keygen -R "$HOST_IP" || true
          ssh-keygen -R "$HOST_DOMAIN" || true
      
          # Add IP
          ssh-keyscan -p $PORT -t rsa,ecdsa,ed25519 $HOST_IP >> ~/.ssh/known_hosts
      
          # Add DOMAIN (this is what rsync is using)
          ssh-keyscan -p $PORT -t rsa,ecdsa,ed25519 $HOST_DOMAIN >> ~/.ssh/known_hosts
      
          chmod 600 ~/.ssh/known_hosts
      
          cat <<EOF > ~/.ssh/config
          Host *
            IdentityFile ~/.ssh/id_rsa
            StrictHostKeyChecking yes
            UserKnownHostsFile ~/.ssh/known_hosts
            Port $PORT
          EOF
      
          chmod 600 ~/.ssh/config
      
          echo "Trusted hosts:"
          cat ~/.ssh/known_hosts
          
      - name: Update OpenCRVS known-hosts file
        working-directory: ${{ github.event.repository.name }}
        run: |
          HOST_IP="${{ vars.SSH_HOST || secrets.SSH_HOST }}"
          HOST_DOMAIN="${{ vars.DOMAIN }}"
          PORT="${{ vars.SSH_PORT || secrets.SSH_PORT }}"
      
          rm -f infrastructure/known-hosts
      
          # Add IP
          ssh-keyscan -p $PORT -H -t rsa,ecdsa,ed25519 $HOST_IP \
            >> infrastructure/known-hosts
      
          # Add domain (this is critical)
          ssh-keyscan -p $PORT -H -t rsa,ecdsa,ed25519 $HOST_DOMAIN \
            >> infrastructure/known-hosts
      
          echo "Updated infrastructure/known-hosts:"
          cat infrastructure/known-hosts

      - name: Run reindex script in docker container
        run: |
          ssh -p ${{ vars.SSH_PORT }} ${{ secrets.SSH_USER }}@${{ vars.SSH_HOST }} ${{ vars.SSH_ARGS }} "
            docker run --rm \
              -v /opt/opencrvs/infrastructure/deployment:/workspace \
              -w /workspace \
              --network opencrvs_overlay_net \
              -e 'AUTH_URL=http://auth:4040/' \
              -e 'EVENTS_URL=http://gateway:7070/events' \
              alpine \
              sh -c 'apk add --no-cache curl jq && sh reindex.sh'"
